html { margin: auto; max-width: 62em; font-family: sans-serif; font-size: 16px; line-height: 1.5; }
img { max-width: 100%; display: block; }
pre { font-family: monospace; font-size: 16px; padding: 0.5em 0.5em; white-space: pre-wrap; }
hr { border: 0; height: 1px; background: #000; }

:link { color: #0000ff; text-decoration: none; }
:visited { color: #990099; text-decoration: none; }
a:hover { text-decoration: underline; } 

@media (prefers-color-scheme: dark) {
    html { background: #222; color: #eee; }
    :link { color: lightblue; }
    :visited { color: #fd00fd; }
    hr { border: 0; height: 1px; background: #fff; }
}

/* mark offsite links */
a[href^="http"]:after {
  content: "^";
}
